
<div class="full">
<h1>Hello, Welcome at your Bali Coach!</h1>

<form action="answer" data-turbo="false">
  <input type="text" name="question" class="input" placeholder="Question?">
  <input type="submit" value="Ask!" class="button">
</form>
</div>
