/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .full {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 0%), url('backgroud.jpg');
  background-size: cover;
}

body {

  background-position: center;
}


h1{
  font-family: monospace;
  color: white;
  letter-spacing: 1px;
}

p {
  font-family: monospace;
  font-size: 25px;
}

a {
  background-color: #A6AE91;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  font-family: monospace;
  border-radius: 5px;
}

a:hover {
  color: #D6DECE;
  transition-delay: 0.1s;
  padding: 10px 30px;
  border-radius: 5px;
}

.input {
  margin-top: 50px;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: monospace;
  border: none;
  background-color: white;
  color: #A6AE91;
}

.input::placeholder {
  color: #D6DECE !important;
  opacity: 1;
  }

.button {
  margin-left: 10px;
  padding: 2px 30px;
  border-radius: 5px;
  font-family: monospace;
  background-color: #A6AE91;
  border: none;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
}

.question {
    background-color: #A6AE91;
    border-color: #A6AE91;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.answer{
  background-color: #A6AE91;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
}
